In [1]:
#en este caso vamos a mesclar la funcio n lambda con la funcion apply
#la funcion lambda en python es una forma de escribir funciones menos
#importamos la libreria
import pandas as pd
import numpy as np

In [2]:
#Traigo el archivo que voy a trabajar
df_jugadores=pd.read_csv("/content/drive/Shareddrives/GALIAS_COMERCIAL/PYTHON/players_20 (1).csv")

df_jugadores

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [3]:
#ahora fijamos el index
df_jugadores=df_jugadores.set_index('short_name')

In [4]:
#vamos a traer solo las columnas que necesito, y voy actualizar el dataframe
df_jugadores=df_jugadores[["player_url",  "long_name",  "age",  "dob",  "height_cm",  "weight_kg",  "nationality",  "club"]]
df_jugadores.head(3)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [7]:
#las funciones normalmente se ven asi
def sumar (a,b):
  x=a+b
  return (x)

In [8]:
sumar(24,29)

53

In [13]:
from binascii import b2a_base64
def modulo (a,b):
  y=a%b
  return(y)

In [14]:
modulo (25,2)

1

In [15]:
#Ahora vamos a ver cono se hacen las funciones usansdo lan+mbda
#primero se asigna el nombre, luego asignamos el valor, luego introducimos los parameetros
#luego dos puntos, por ultimo el output
sumar_2= lambda a,b: a+b

In [16]:
sumar_2(39,29)

68

In [17]:
modulo_2=lambda a,b: a%b

In [18]:
modulo_2(26,2)

0

In [21]:
#Ahora usemos apply con labmda
#vamos a pasar los años a meses en la informacion de los jugadores
#En este caso, si usamos apply no necisitamos poner el nombre de la funcion.
df_jugadores['age'].apply(lambda x:x*12)

short_name
L. Messi             384
Cristiano Ronaldo    408
Neymar Jr            324
J. Oblak             312
E. Hazard            336
                    ...
Shao Shuai           264
Xiao Mingjie         264
Zhang Wei            228
Wang Haijian         216
Pan Ximing           312
Name: age, Length: 18278, dtype: int64

In [20]:
#Ahora usemos apply con labmda
#vmos a pasar los cm a mt en la informacion de los jugadores
#En este caso, si usamos apply no necisitamos poner el nombre de la funcion.
df_jugadores['height_cm'].apply(lambda x:x/100)

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [22]:
#si quiero enredarme menos para convertir cm a mt
df_jugadores['height_cm']/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [23]:
#Tambien puedo pasar los nombres de los jugadores a mayucular
df_jugadores['long_name'].apply(lambda x:x.upper())

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [24]:
#si quiero hacerlo simple pero con mas memoria seria:
df_jugadores['long_name'].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [30]:
#Tambien puedo usar lambda para extraer partes de fechas
#primero debemos garantizar que la columna fecha este en modo date
df_jugadores['dob']=pd.to_datetime(df_jugadores['dob'])

In [31]:
#Ahora extraemos los años solo con la funcion lambda
df_jugadores['dob'].apply(lambda x:x.year)

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [36]:
#Ahora extraemos los años solo con la funcion lambda
df_jugadores['dob'].apply(lambda x:x.month_name())

short_name
L. Messi                 June
Cristiano Ronaldo    February
Neymar Jr            February
J. Oblak              January
E. Hazard             January
                       ...
Shao Shuai              March
Xiao Mingjie          January
Zhang Wei                 May
Wang Haijian           August
Pan Ximing            January
Name: dob, Length: 18278, dtype: object

In [37]:
df_jugadores.head(3)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [40]:
#vamos a hacer le indice de masa corporal
df_jugadores['height_cm'].apply(lambda x:x/100)

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [42]:
df_jugadores.apply(lambda x:x['weight_kg']/((x['height_cm']/100)**2), axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64